#destaques-projetos{
    background-color: #13131f;
    padding: 50px 0px;
}
.modal-fundo{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
        .modal-conteudo{
            background-color: #13131f;
            display: flex;
            flex-flow: nowrap column;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            height: 90%;
            padding: 24px;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
            .header-modal{
                color: rgba(255, 255, 255, 0.61);
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            .conteudo-dentro-modal{
                p{  
                    color: rgba(255, 255, 255, 0.575);
                    width: 40%;
                    padding: 10px;
                    text-align: justify;
                }
            display: flex;
            align-items: center;
            justify-content: space-around;
            }
            .links-modal{
                width: 100%;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                a{  
                    cursor: pointer;
                    text-decoration: none;
                    background-color: #b673ec;
                    padding: 8px;
                    color: #13131f;
                    font-weight: bolder;
                    border-radius: 21px;

                    &:hover{
                        scale: 0.90;
                        transition: 0.5s;
                    }
                }
                
            }
        }
} 
//font family um esilo vasado  
.nome-projetos{
        color: rgba(255, 255, 255, 0.527);
        font-size: 8em;
}
.nome-destaques{
        font-size: 3em;
        color: rgba(240, 248, 255, 0.507);
        
}
.linha{
            width: 300px;
            background-color: rgb(174, 125, 219);
            height: 3px;
            margin-bottom: 16px;
        };
 
// estilos projetos 

.projetos{
    
    border-bottom: 3px solid #b673ec;
    margin: 24px 24px 24px 0px;
    position: relative;
    display: inline-block;
    
    .img-projetos{
        filter: brightness(0.5);
        border-radius: 10px 10px 0px 0px;
        


        &:hover{
            filter: brightness(1);
            transition: 0.5s;
        }
    }
        .ver-mais{
            border-radius: 0px 0px 10px 10px;
            background-color: rgb(59, 59, 59);
            height: 0px;
            color: white;
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0%);
            transition: height 0.5s ease-in-out;
                .data-projeto{
                    font-size: 1.2em;
                }
            .btn-ver-mais{
                background-color: #b673ec;
                padding: 5px 10px;
                border: none;
                border-radius: 50px;
                &:hover{
                    scale: 0.90;
                    transition: 0.5s;
                }
            }
        }
}
.projetos:hover .ver-mais{
    overflow: hidden;
    height: 50px;
    transition: height 0.5s ease-in-out;
    opacity: 1;
}

.projetos:hover{
    filter: brightness(1);
    scale: 1.05;
    transition: 0.5s ease-in-out;
}
#teste1{
            
            color: rgb(255, 255, 255);
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: height 0.5s ease-in-out;
            .titulo-projeto{
                margin: 14px 8px;
            }
            .img-capa-tec-projetos{
                
                margin: 0px 14px;
                width: 50px;
                
            }
}

.projetos:hover #teste1{
    filter: brightness(1);
    transition: 0.5s;
    display: none;
    
}

//todos os projetos 
.animação{
            margin-bottom: 16px;
            .todos-projetos{
            color: rgba(255, 255, 255, 0.575);
            font-size: 4em ;
            margin-top: 50px;
}
            .linha-todos-projetos{
            width: 400px;
            background-color: rgb(174, 125, 219);
            height: 3px;
            
}
}


@keyframes animação{

    from{
        opacity: 0;
        scale: 0.5;
        clip-path: inset(0% 100% 0% 0%);
        transform: translateX(-100%)
    }
    to{
        opacity: 1;
        scale: 1;
        clip-path: inset(0% 0% 0% 0%);
        transform: translateX(0%);
    }
}
.projetos,.animação{
    animation: animateimg  linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
@media screen and (max-width: 768px) {

    
    .modal-fundo{
            .modal-conteudo{
                width: 95%;
                height: 95%;
                .conteudo-dentro-modal{
                    align-items: flex-start;
                }
                .links-modal{
                    justify-content: space-evenly;
                    a{  
                        font-size:1em;
                        padding: 10px;
                    }
                    
                }
            }
    } 
    //font family um esilo vasado  
    .nome-projetos{
            padding: 24px 0px;
            font-size: 5em;
    }
    .nome-destaques{
            font-size: 2.5em;
            text-align: center;
            
    }
    .linha{
                margin: auto
            };
                
    // estilos projetos 
    .pw-768{
        justify-content: center;
    }
    .projetos{
        margin: 34px 0px;
        }
    #teste1{
                .titulo-projeto{
                    margin: 24px;
                }
    }
    .animação{
        .todos-projetos{
        font-size: 2.8em ;
}
        .linha-todos-projetos{
        width: 300px;
}
}
    }
    
    @media screen and (min-width: 768px) and (max-width: 1100px) {
        .pw-768{
            justify-content: center;
        }
        .linha{
            margin: auto
        };
        .nome-destaques{
            font-size: 2.5em;
            text-align: center;
            
    }
        .projetos{
            border: none;
            
            .img-projetos{
                
                width: 300px;
                margin: 0px 5px;
                
            }
                .ver-mais{
                    width: 300px;
                }
        }
        #teste1{
                    
                    width: 300px;
                    }
}
        
        
@media screen and (min-width: 500px) and (max-width: 675px) {

.modal-fundo{
        .modal-conteudo{
            width: 90%;
            height: 95%;

            .conteudo-dentro-modal{
                p{  
                    display: none;
                }
            }
            .links-modal{
                margin: 5px;
                width: 100%;
                padding: 5px;
                display: flex;
                flex-flow: row wrap;
                a{  
                    margin: 12px;
                    padding: 8px;
                    font-size: 1em;
                }
                
            }
        }
}
}  
@media screen and (min-width: 380px) and (max-width: 500px) {
    .nome-projetos{
        color: rgba(255, 255, 255, 0.527);
        font-size: 4em;
}
.modal-fundo{
    .modal-conteudo{
        width: 90%;
        height: 95%;

        .conteudo-dentro-modal{
            p{  
                display: none;
            }
        }
        .links-modal{
            margin: 5px;
            width: 100%;
            padding: 5px;
            display: flex;
            flex-flow: row wrap;
            a{  
                margin: 12px;
                padding: 8px;
                font-size: 1em;
            }
            
        }
    }
}
}