#footer{
    overflow: hidden;
    background-color: #13131f;
    color: white;
    padding: 20px;
    height: 75vh;
    text-align: center;
    .conteudo-footer{
        h2{
            color: rgba(255, 255, 255, 0.507);
            font-size: 3.5em;
            padding-bottom: 32px;
        }
        .links-footer{
            &:hover{
                transition: 0.5s;
                scale: 0.9;
            }
            a{  
                color:rgba(255, 255, 255, 0.514) ;
                text-decoration: none;
                h4{
                    padding-top: 5px;
                }
                
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #footer{
        padding: 10px;
        height: 100vh;;
        
        text-align: center;
        .conteudo-footer{
            h2{
                color: rgba(255, 255, 255, 0.507);
                font-size: 2.5em;
                padding-bottom: 32px;
            }
            .d-flex{
                flex-flow: row wrap;
                justify-content: space-between !important;
                align-items: center;
            }
            .links-footer{
                padding: 10px;
                margin: auto;
                text-align: center;
                a{
                    text-align: center;
                    
                }
            }
        }
    }
}

