
.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #13131f;
    h1{
        color:white;
        padding: 16px 0px;
    }
    border-bottom: 2px solid #c175ff;
    
    /*menu hamburguer*/
        #menu-hamburguer{
            width: 35px;
            height: 20px;
            position: relative;
            cursor: pointer;
            z-index: 10;
            .linha-menu{
                width: 100%;
                height: 2px;
                background-color: #493785;
                margin: 6px 0;
                transition: 0.4s;
            }
            .linha-menu:nth-child(1){
                margin-left: 10px;
            }
            .linha-menu:nth-child(2){
                margin-left: 5px;
            }
                .linha-menu:nth-child(1).fechar{
                    transform: translate(-5px, 5px,) rotate(45deg);
                    height: 3px;
                    
                }
                .linha-menu:nth-child(2).fechar{
                    opacity: 0;
                }
                .linha-menu:nth-child(3).fechar{
                    height: 3px;
                    
                    transform: translate(5px,-12px) rotate(-45deg);
                }
    }
    /*itens menu*/
    #menu {
        .menu-lista{
            list-style: none;
            visibility: hidden;
            height: 0px;
            opacity: 0px;
            transform: translateY(0px);
            transition: height 0.3s;
            z-index: 1;
            position: absolute;
                .item-menu{
                    cursor: pointer;
                    text-align: center;
                    font-size: 2.5em;
                    padding: 16px;
                    text-decoration: none;
                    color: aliceblue;
                    font-weight: bold;
                    
                    //ver a questão do zoom está criando rolagem lateral
                    &:hover{
                        border-radius: 50px;
                        background-color: #3c2d6d;
                        scale: 0.8;
                        transition: 0.5s;
                        overflow: hidden;
                    }
                    
                }
        }
        .menu-lista.aberto{
            
            opacity: 1;
            visibility: visible;
            display: block;
            position: absolute;
            background-color:#161624da;
            width: 100%;
            height: 100vh;
            z-index: 1;
            
            transform:  translateY(0) ;
        }
    }
    /*Botão para mudar tema */
    .btn-tema{
        width: 60px;
        height: 25px;
        -webkit-appearance: none;
        background-color: #3c2d6d;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        &::before{
            content: '';
            width: 20px;
            position: absolute;
            height: 20px;
            background-color: aliceblue;
            border-radius: 50%;
            transform: translateY(-50%);
            top: 50%;
            left: 4px;
            transition: 0.5s;
        }
        &:checked{
            background-color: rgb(230, 227, 227);
            &::before{
                left: 35px;
                background-color: #13131f;
            }
        }
        /*até aqui*/
    }
}    