
.header{
    background-color: #13131f;
    h1{
        color:white;
    }
    border-bottom: 2px solid #c175ff;
    
    /*menu hamburguer*/
        #menu-hamburguer{
            width: 35px;
            height: 20px;
            position: relative;
            cursor: pointer;
            z-index: 10;
            .linha-menu:nth-child(1){
                margin-left: 10px;
            }
            .linha-menu:nth-child(2){
                margin-left: 5px;

            }
                .linha-menu:nth-child(1).fechar{
                    transform: translate(-5px, 5px,) rotate(45deg);
                    height: 3px;
                    
                }
                .linha-menu:nth-child(2).fechar{
                    opacity: 0;
                }
                .linha-menu:nth-child(3).fechar{
                    height: 3px;
                    
                    transform: translate(5px,-12px) rotate(-45deg);

                }
                .linha-menu{
                width: 100%;
                height: 2px;
                background-color: #493785;
                margin: 6px 0;
                transition: 0.4s;
            }
    }
    /*itens menu*/
    #menu {
        
        .menu-lista{
            list-style: none;
            visibility: hidden;
            height: 0px;
            opacity: 0px;
            transform: translateY(-20px);
            z-index: 1;
            
            position: absolute;
            
            
            
                .item-menu{
                    text-align: center;
                    font-size: 2.5em;
                    padding: 16px;
                    //ver a questão do zoom está criando rolagem lateral
                    &:hover{
                        scale: 1.5;
                        overflow: hidden;
                    }
                    
                    
                    a{
                        
                        text-decoration: none;
                        color: aliceblue;
                        font-weight: bold;
                        
                        &:hover{
                            
                        
                        overflow: hidden;
                        scale: 1.5;
                        transition: 0.5s;
                        color: #c175ff;
                        transition: 0.5s;
                        
                    }
                    }
                }
        }
        .menu-lista.aberto{
            
            opacity: 1;
            visibility: visible;
            display: block;
            position: absolute;
            background-color: #13131f98;
            width: 100%;
            height: 100vh;
            z-index: 1;
            transform: translateY(0);

        }
    }
    

    /*Botão para mudar tema */
    .btn-tema{
        width: 60px;
        height: 25px;
        -webkit-appearance: none;
        background-color: #3c2d6d;
        border-radius: 20px;
        position: relative;
        cursor: pointer;

        &::before{
            content: '';
            width: 20px;
            position: absolute;
            height: 20px;
            background-color: aliceblue;
            border-radius: 50%;
            transform: translateY(-50%);
            top: 50%;
            left: 4px;
            transition: 0.5s;
        }
        &:checked{
            background-color: rgb(230, 227, 227);

            &::before{
                left: 35px;
                background-color: #13131f;
            }
        }
        /*até aqui*/
    }

    
                
    
    
    
}
    
                
            
    
        